<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="margin-right:1em; z-index: 1;">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a href="{{ site.baseurl }}/" title="HOME">
        <img src="{{ site.baseurl }}/logo.png" alt="logo" style="width:150px;cursor:pointer;margin-top:15px;" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-right:1em; text-shadow: -.025em -.025em 0 rgba(0, 133, 161, 0.75), .025em -.025em 0 rgba(0, 133, 161, 0.75), -.025em .025em 0 rgba(0, 133, 161, 0.75), .025em .025em 0 rgba(0, 133, 161, 0.75);">

        {% for item in site.nav %}
          {% if item.dropdown %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for sub in item.dropdown %}
                  <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
</nav>
