<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url={{ site.baseurl }}/journal" />
  {% endif %}
</head>

<body>
  {% include nav.html %}

  {{ content }}

  {% include footer.html %}
  {% include Scroll_to_Top.html %}
  
  <!-- jQuery (required for Bootstrap JS) -->
  https://code.jquery.com/jquery-3.6.0.min.js
  
  <!-- Bootstrap JS -->
  https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js

</body>
</html>
